<%- include('../partials/header') %>

<div>
    <h1 class="text-center">Edit comment for <%= campground.name %></h1>

    <div class="form">
        <form action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=PUT" method="post">
            <div class="form-group">
                <textarea class="form-control" name="comment[text]" cols="30" rows="5" placeholder="Text" required><%=comment.text%></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit changes</button>
            </div>
        
        </form>
        <a class="btn btn-secondary" href="/campgrounds/<%= campground._id %>">< Back to <%= campground.name %></a>
    </div>
</div>

<%- include('../partials/footer') %>